@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav #logo {
    margin-right: auto;
    padding: 0 3rem;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 2rem;
    border-top: 3px solid transparent;
    font-weight: 500;
}

nav a:hover {
    border-top-color: #0065FC;
}


nav a.signup {
    color: #0065FC;
    font-weight: bold;
}

.sub-nav {
    display: flex;
}

/* RESPONSIVE NAVBAR */

@media (max-width: 800px) {
    .sub-nav {
        order: 1;
        flex-basis: 100%;
    }

    .sub-nav a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey;
    }

    .sub-nav a:first-child {
        color: #0065FC;
        border-bottom-color: #0065FC;
    }

    .sub-nav a:hover {
        color: #0065FC;
        border-top-color: transparent;
        border-bottom-color: #0065FC;
    }
}

/* BODY */

.wrapper {
    padding: 0 3rem;
}

.wrapper h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.wrapper p {
    margin-bottom: 1rem;
}

.search-form {
    display: inline-flex;
    max-width: 100%;
}

span.searchFormIcon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

span.searchFormIcon i {
    margin-left: 0.1rem;
}

.search-form input[type="text"] {
    padding: 0rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    box-sizing: border-box;
    outline-offset: -2px;
}

input::placeholder {
    color: #00000069;
}

.search-form button {
    background-color: #0065FC;
    padding: 0 1.5rem;
    color: #fff;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 200ms;
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.03);
}
